/** @format */

.root {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.wrapper {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 400px;
}

.title {
  font-size: 20px;
  margin-bottom: 20px;
  color: white;
}

.form {
  display: flex;

  input {
    background-color: white;
  }
}

.videoControls {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.buttonPlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.441);
  border-radius: 10px;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
}
